<!doctype html>
<html lang="en">

{{> basehead customTitle='select order | ' }}
	
	<link rel="stylesheet" href="/Actorcss/selectstyle.css">


	<body>

		
		<div class="header">
			<h1>โปรโมชั่น</h1>
			<p>โปรโมชั่น พิเศษ</p>
		  </div>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
			  <div class="card">
				<img src="2.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h2 class="card-title">เริ่มต้น 159/คน</h2>
				  <p class="card-text">
						<li>เนื้อหมูสไลด์</li>
						<li>เบค่อน</li>
						<li>เนื้อไก่</li>
						<li>เนื้อปลาดอลลี่</li>
						<li>หมูเด้ง</li>
						<li>น้ำอัดลม</li>					
				</p>
				  <p><button>เลือก</button></p>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card">
				<img src="2.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h2 class="card-title">โปรมิดเดิร์น 219/คน</h2>
				  <p class="card-text">
					<li>โปรเริ่มต้น</li>
					<li>เนื้อสไลด์</li>
					<li>ปลาหมึก</li>
					<li>กุ้ง</li>
					<li>ไข่ไก่</li>
				
				  </p>
				  <p><button>เลือก</button></p>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card">
				<img src="2.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h2 class="card-title">โปรไฮเอนด์ 299/คน</h2>
				  <p class="card-text">
				
					<li>โปรมิดเดิร์น</li>
					<li>ปูยักษ์</li>
					<li>ล็อบเตอร์</li>
					<li>เนื้อปลาทูน่า</li>
					<li>เนื้อปลาแซลมอน</li>
				
				  </p>
				  <p><button>เลือก</button></p>
				</div>
			  </div>
			</div>
			
		  </div>
	</body>
</html>

