<!doctype html>
<html lang="en">


{{> basehead customTitle='comment | ' }}

  <link rel="/Actorcss/stylesheet" href="comment.css">



<body>
  <header>

  </header>

  <div class="container">
    <section class="crad_1">

      <div class="mb-3">
        <label for="" class="form-label">Comment</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
      </div>
      <a name="" id="" class="btn btn-primary" href="#" role="button" style="margin-left: 500px;">Comment</a>


    </section>
  </div>
</body>

</html>