<!doctype html>
<html lang="en">


{{> basehead customTitle='Admin login | ' }}

    <link rel="stylesheet" href="/Admincss/Login-pang-one.css">    

<body>

    <header>

    </header>
    <center>

        <div class="container" style="width: 13cm; height: 13cm;" >
            <br>
            <div class="admin">
                <h1>Admin</h1>
            </div><br>
            <form>
                <div class="from-input">
                    <label for="" class="form-label"></label>
                    <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
                        placeholder="E-mail" size="">
                    <small id="emailHelpId" class="form-text text-muted"></small><br><br>

                    <label for="" class="form-label"></label>
                    <input type="password" class="form-control" name="" id="" placeholder="Passwold" size="">
                </div><br>
                <div class="button">
                  <button type="button" name="" id="" class="btn btn-primary">Button</button>
                </div>
            </form>

        </div>
        </div>
    </center>
    <main>

    </main>

</body>

</html>