<!doctype html>
<html lang="en">
 
{{> basehead customTitle='เลือกโปรโมชั่น | ' }}
	
	<link rel="stylesheet" href="/Admincss/select1-1.css">
	<body>

	
		<div class="header">
			<h1>เเก้ไขข้อมูลโปรโมชั่น</h1>
			
		  </div>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
			  <div class="card">
				<img src="2.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <p class="card-title">หัวข้อ</p>
                    <input>
                  <div class="box1">
                    ราคา
                    <input>
                  </div>
				  <p class="card-text">
                    รายการอาหาร
						<input style="width: 200px; height: 100px">			
				</p>
                <p><button>อัพเดท</button></p>
                <p><button>เเก้ไข</button></p>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card">
				<img src="2.png" class="card-img-top" alt="...">
				<div class="card-body">
                    <p class="card-title">หัวข้อ</p>
                    <input>
                  <div class="box1">
                    ราคา
                    <input>
                  </div>
				  <p class="card-text">
                    รายการอาหาร
						<input style="width: 200px; height: 100px">			
				</p>
                <p><button>อัพเดท</button></p>
                <p><button>เเก้ไข</button></p>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card">
				<img src="2.png" class="card-img-top" alt="...">
				<div class="card-body">
                    <p class="card-title">หัวข้อ</p>
                    <input>
                  <div class="box1">
                    ราคา
                    <input>
                  </div>
				  <p class="card-text">
                    รายการอาหาร
						<input style="width: 200px; height: 100px">			
				</p>
                <p><button>อัพเดท</button></p>
                <p><button>เเก้ไข</button></p>
				</div>
			  </div>
			</div>
			
		  </div>
	</body>
</html>

