<!doctype html>
<html lang="en">


{{> basehead customTitle='Home | ' }}

    <link rel="stylesheet" href="/Admincss/home-admin.css">


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #090803;">
            <a class="navbar-brand" href="#" style="margin-left:50px;">ADMIN</a>
        </nav>

    </header>
    <div class="Contianer-2">
        <section class="section">
            <div class="alert">
                ลำดับการจองคิว
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
                <div class="alert-2" role="alert">
                    คิวที่ 1 โต๊ะ c จำนวน 3 คน โปรโมชั่น...
                </div>
            </div>
        </section>
        <div class="aside">
            <div class="box_tic">
                <div class="content_tic">
                    <div class="orderwait">
                        <h3>จำนวนที่จองเข้ามา</h3>
                        <h3>10</h3>
                    </div>
                    <div class="orderempty">
                        <h3>จำนวนที่เหลือ</h3>
                        <h3>10</h3>
                    </div>

                </div>
                <div class="footer_tic">
                    <div class="bt-l">
                        <button id="button_d">เพิ่ม</button>
                    </div>
                    <div class="bt-R">
                        <button id="button_d">ลด</button>
                    </div>
                </div>
                <p><button id="button_suc">ตกลง</button></p>
            </div>
            <div class="box1" >
                <a href=" D:\work\code_vs\css&html\projeck ip\Admin\select\select1.html ">เเก้ไขข้อมูล</a>
            </div>
            <div class="box1"  >
                <a href="D:\work\code_vs\css&html\projeck ip\Admin\Static\startic.html">คำนวณสถิติ</a>
            </div>
            <div class="box1" >
                <a href=" D:\work\code_vs\css&html\projeck ip\Admin\feedback\feedback.html">Feedback</a>
        </div>
    </div>
</body>

</html>