<!doctype html>
<html lang="en">


{{> basehead  customTitle='กราฟ | ' }}

    <link rel="stylesheet" href="/Admincss/graph-1-one.css">

<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #090803;">
        <a class="navbar-brand" href="#" style="margin-left:50px;">ADMIN</a>

    </nav>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #b8a130;">
        <a class="navbar-brand" href="#" style="margin-left:50px; ">สถิติลูกค้า</a>

    </nav>
   
  </header>
  
 <div class="Contianer">
    <section class="section">
        
        <div class="card">
          <div>
            <div class="dropdown open">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                    เลือกสัปดาห์หรือเดือน
                  </button>
              <div class="dropdown-menu" aria-labelledby="triggerId">
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item disabled" href="#">Disabled action</button>
              </div>
            </div>
          </div>
          <div class="form-check">
          
            <input type="week" style="width: 100px ;"><br><br>
            <input type="week" style="width: 100px ;"><br><br>
            <input type="week" style="width: 100px ;"><br><br>
            <input type="week" style="width: 100px ;"><br><br>
            <input type="week" style="width: 100px ;"><br>
              

        </div><br>
              
            <form>
                
                <center>
                    <div class="button">
                        <button type="button" name="" id="" class="btn btn-primary" href=" startic.html">ดูสถิติ</button>
                    </div>
                </center>B
            </form>
        </div>
        
    </section>
    <aside class="aside">
        <img src="C:\Users\NiTRO\Desktop\Screenshot_5.jpg" class="img-1" alt="" >
        <div style="margin-top: 20px; margin-left : 20px">
          วันที่มีคนมากินมากที่สุด  วันเสาร์
          
        </div>

    </aside>

 </div>
</body>

</html>