<!doctype html>
<html lang="en">


{{> basehead customTitle='history price | ' }}

    <link rel="stylesheet" href="/Admincss/startic-one.css">


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #090803;">
            <a class="navbar-brand" href="#" style="margin-left:50px;">ADMIN</a>
        </nav>
    </header>

    <div class="Contianer">

        <section class="section">

            <div>
                เลือกวัน/เวลา
                <input type="date">
            </div>

        </section>

        <aside class="aside">
            <table class="table" style="background-color: aqua; ">
                ตารางคำนวณยอดขาย
                <tr>

                    <th>วัน/เวลา</th>
                    <th>โปรโมชั่น</th>
                    <th>จำนวนคน</th>
                    <th>ยอดรวมโปรโมชั่น</th>


                </tr>
                <tr>
                    <td>จันทร์/12/03/66 </td>
                    <td> A </td>
                    <td>20 </td>
                    <td>6000</td>
                </tr>
                <tr>
                    <td>จันทร์/12/03/66 </td>
                    <td> B </td>
                    <td>30 </td>
                    <td>7000</td>
                </tr>
                <tr>
                    <td>จันทร์/12/03/66 </td>
                    <td> C </td>
                    <td>15 </td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>ยอดรวมทั้งหมด</td>
                    <td> 16000 </td>

                </tr>
                

            </table><br>
            <center>
                <div class="box-1">
                    <a name="" id="" class="btn btn-primary" href="D:\work\code_vs\css&html\projeck ip\Admin\Static\graph-2.html" role="button">สถิติลูกค้า</a>
                    
                </div>
            </center>
        </aside>
    </div>

</body>

</html>