<!DOCTYPE html>
<html lang="en">


{{> basehead customTitle='actor home | ' }}

    <link rel="stylesheet"  href="/Actorcss/firstpagestyle.css">


<body>
   <header >
    <div class="botton">
        
        <a name="" id="" class="btn btn-primary" href="D:\work\code_vs\css&html\projeck ip\Actor\2.login\login.html" role="button">ลงชื่อเข้าใช้</a>
        <a name="" id="" class="btn btn-primary" href="D:\work\code_vs\css&html\projeck ip\Actor\3.register\register.html" role="button">สมัครสมาชิก</a>
        <a name="" id="" class="btn btn-primary" href="D:\work\code_vs\css&html\projeck ip\Actor\comment\comment.html" role="button">Comment</a>
        <a name="" id="" class="btn btn-primary" href="D:\work\code_vs\css&html\projeck ip\Actor\8.cancelOrder\cancelOrder.html" role="button">ยกเลิกการจอง</a>
        
    </div>
   </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-bg-dark" id="promo">
                    <img src="2.png" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title">Special Pomotion</h1>
                        <p class="card-text" >
                            <h3 id="detail">มา 4 จ่าย 3 สุดคุ้มม</h3>

                        <p class="card-text"><small>หมดเขตวันที่ 31 ธ.ค. 2565</small></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" id="o">
            <div class="col-md-6">
                <div class="card text-bg-dark" id="RR">
                    <img src="2.png" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <div class="card-img-overlay">
                            <h1 class="card-title">Special Pomotion</h1>
                            <p class="card-text" >
                                <h3 id="detail">มา 4 จ่าย 3 สุดคุ้มม</h3>
    
                            <p class="card-text"><small>หมดเขตวันที่ 31 ธ.ค. 2565</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-bg-dark" id="RR">
                    <img src="2.png" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-align: center;">จำนวนโต๊ะที่ว่าง</h1>
                            <p class="card-text" >
                                <h1 id="detail" style="text-align: center;">5</h1>
    
                            <p><button href="">กดจองที่นี้</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>