*{
    margin: 0px;
    padding: 0px;
}
.Container{
    width: 1485px;
    height: 684px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.section{
    float: left;
    margin-top: 70px;
    margin-left: 20px;

    width: 500px;
    height: 500px;
    background-color: rgb(133, 133, 108);

}
.aside{
    float: right;
    margin-right:100px ;
    margin-top: 70px;
    background-color: rgb(239, 163, 163);
    width: 800px;
    height: 400px;

}
.card{
    background-color: rgb(108, 108, 154);
    width: 450px;
    height: 450px;
    margin-left: 20px;
    margin-top:20px ;
    
}

 

 