*{
    margin: 0px;
    padding: 0px;
}
.Contianer-2{
    width: 1485px;
    height: 684px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.section{
    float: left;
    margin-top: 50px;
    margin-left: 20px;

    width: 500px;
    height: 500px;
    background-color: rgb(237, 241, 36);

}
.aside{
    float: right;
    margin-right:200px ;
    margin-top: 50px;
    /* background-color: rgb(94, 93, 93); */
    width: 500px;
    height:700px;
  

}
.box_tic{
    /* margin-top: 20px; */
    width: 380px;
    height: 350px;
    background-color:rgb(92, 133, 174);
    text-align: center;
   align-items: center;
   border-radius: 15px;

   
}
.content_tic{
    text-align: center;
    border-bottom: 1px solid #181717;
    height:200px;
    background-color: rgb(92, 133, 174);
    flex-direction: column; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


.footer_tic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.bt-l {
    padding-left: 2rem;
}
.bt-R {
    padding-right: 2rem;
}

#button_d{
    border: none;
    border-radius: 8px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
#button_suc{
    border: none;
    border-radius: 7px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
    font-size: 18px;
}

.box1{
    margin-top: 50px;
    width: 280px;
    height: 80px;
    background-color: rgb(92, 133, 174);
    text-align: center;
}
 .alert{
    background-color: rgb(145, 150, 148);
    text-align: center;
 }
 .alert-2{
    background-color: rgb(139, 237, 199);
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
    width: 400px;
    height: 30px;
   
    
 }