*{
    margin: 0px;
    padding: 0px;
}
.Container{
    width: 1485px;
    height: 684px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.section{
    float: left;
    margin-top: 70px;
    margin-left: 500px;
    width: 500px;
    height: 500px;
    background-color: rgb(237, 241, 36);

}
.alert{
    background-color: rgb(145, 150, 148);
    text-align: center;
 }
 .alert-2{
    background-color: rgb(139, 237, 199);
    margin-top: 20px;
    margin-left: 25px;
    width: 400px;
    height: 30px;
   
    
 }

 